<!DOCTYPE html>
<html>
<head>
	<title>Parking Log: About</title>
	<style type="text/css">
		@font-face{
			font-family: "helpMeGod";
			src:url(/pls/pls.ttf);
		}
		@font-face{
			font-family: "iLoveJesus";
			src:url(/pls/omg.ttf);
		}
		h1,h2,p{
			color: white;
			font-family: "helpMeGod";
		}
		p{
			padding: 2em;
    		margin-bottom: 100px;
    		margin-right: 150px;
    		margin-left: 100px;
    		
		}
		h1{
			display: inline;
			letter-spacing: 10px;
		}
		h2{
			text-decoration: underline;
			letter-spacing: 3px;
		}
		nav{
			display: inline;
			float: right;
			position: relative;
			letter-spacing: 3px;
			padding-right: 100px;
		}
		.help{
			color: white;
			text-decoration: none;
			font-family: "iLoveJesus";
		}
	</style>
</head>
<body background = "/pls/hatdog.jpg">
	<h1>PARKING LOG</h1>
	<nav>
		<%= link_to "Home", car_logs_home_path, :class => "help"%>
		<%= link_to "About the Creator", car_logs_about_path, :class => "help"%>
		<%= link_to "Enter New Car", new_car_log_path, :class => "help"%>
		<%= link_to "Show Car", car_log_path(@carlogslast), :class => "help"%>
	</nav>
	<br>
	<img src = "/pls/meg.png" height = "500" width = "300" align="left" hspace="200" vspace="50">
	<h2> About the Creator</h2>
	<h2 style="text-decoration: none;">Meg Tuason</h2>
	<p>My nickname is Meg. I am a BS Management Information Systems student in Ateneo De Manila University. I like the sound of keyboards and the sound cats make when they want to play with something they can't reach. I like learning how to code and playing a guitar with new strings. I love rainy weather!!!!!! I don't really know anything about cars.</p>
</body>
</html>