<!DOCTYPE html>
	<html>
	<head>
		<title>Parking Log</title>
		<style type="text/css">
			@font-face{
				font-family: "helpMeGod";
				src:url(/pls/pls.ttf);
			}
			h1{
				color: white;
				font-family: "helpMeGod";
				font-size: 50px;

			}
			.test{
				background-color: white;
    			width:200px;
    			font-size: 16px;
    			font-family: sans-serif;
			}
		</style>
	</head>
	<body background="/pls/hatdog.jpg">
		<img src = "/pls/car.png" height = "500" width = "650" align="left"hspace = "100"> 
		<br>
		<br>
		<br>
		<br>
		<br>
		<h1>PARKING LOG</h1>
		<%= button_to "Home", car_logs_home_path, :class => "test",:method=>:get%>
		<%= button_to "About Me", car_logs_about_path, :class => "test",:method=>:get%>
		<%= button_to "Enter New Car", new_car_log_path, :class => "test",:method=>:get%>
		<%= button_to "Show Car", car_log_path(@carlogslast), :class => "test",:method=>:get%>
		

	</body>
</html>