<!DOCTYPE html>
<html>
<head>
	<title>Parking Log: New Car</title>
	<style type="text/css">
		@font-face{
			font-family: "helpMeGod";
			src:url(/pls/pls.ttf);
		}
		@font-face{
			font-family: "iLoveJesus";
			src:url(/pls/omg.ttf);
		}
		h1, h2, ul, p, h3{
			color: white;
			font-family: "helpMeGod";
		}
		nav{
			display: inline;
			float: right;
			position: relative;
			letter-spacing: 3px;
			padding-right: 100px;
			font-family: "iLoveJesus";
		}
		.help{
			color: white;
			text-decoration: none;
		}
		h1{
			display: inline;
			letter-spacing: 10px;
		}
	</style>
</head>
<body background = "/pls/hatdog.jpg">
	<h1>PARKING LOG</h1>
	<nav>
		<%= link_to "Home", car_logs_home_path, :class => "help"%>
		<%= link_to "About the Creator", car_logs_about_path, :class => "help"%>
		<%= link_to "Enter New Car", new_car_log_path, :class => "help"%>
		<%= link_to "Show Car", car_logs_path, :class => "help"%>
	</nav>
	<h2>Enter a New Car</h2>
	<% if @carlogs.errors.any? %>
	<h3> Errors: </h3>
		<ul>
			<% @carlogs.errors.full_messages.each do |msg| %>
			<%= msg %>
			<% end %>
		</ul>
	<% end %>
	<%= form_for @carlogs do |c| %>
	<p>
		<%= c.label :plate_number %>
		<%= c.text_field :plate_number %>
	</p>
	<p>
		<%= c.label :time_in %>
		<%= c.time_select :time_in %>
	</p>
	<p>
		<%= c.label :time_out %>
		<%= c.time_select :time_out %>
	</p>
	<p>
		<%= c.label :color %>
		<%= c.select :color, ['Black', 'White', 'Blue', 'Red', 'Silver', 'Yellow'] %>
	</p>
	<p>
		<%= c.label :brand %>
		<%= c.select :brand, ['Honda', 'Toyota', 'Ford', 'BMW', 'Mercedes', 'Ferrari', 'Hyundai', 'Porsche'] %>
	</p>
	<p>
		<%= c.label :created_at %>
		<%= c.date_select :created_at %>
	</p>
	<p>
		<%= c.label :updated_at %>
		<%= c.date_select :updated_at %>
	</p>
	<p>
		<%= c.submit %>
	</p>
	<% end %>
</body>
</html>