<!DOCTYPE html>
<html>
<head>
	<title>Parking Log: Show Car</title>
	<style type="text/css">
		@font-face{
			font-family: "helpMeGod";
			src:url(/pls/pls.ttf);
		}
		@font-face{
			font-family: "iLoveJesus";
			src:url(/pls/omg.ttf);
		}
		h1{
			color: white;
			font-family: "helpMeGod";
			display: inline;
			letter-spacing: 10px;
		}
		nav{
			display: inline;
			float: right;
			position: relative;
			letter-spacing: 3px;
			padding-right: 100px;
			font-family: "iLoveJesus";
		}
		.help{
			color: white;
			text-decoration: none;
			font-family: "iLoveJesus";
		}
		h2{
			color: white;
			font-family: "helpMeGod"
			letter-spacing: 10px;
		}
		p{
			color: white;
			font-family: sans-serif;
		}
	</style>
</head>
<body background="/pls/hatdog.jpg">
	<h1>PARKING LOG</h1>
	<nav>
		<%= link_to "Home", car_logs_home_path, :class => "help"%>
		<%= link_to "About the Creator", car_logs_about_path, :class => "help"%>
		<%= link_to "Enter New Car", new_car_log_path, :class => "help"%>
		<%= link_to "Show Car", car_logs_path, :class => "help"%>
	</nav>
	<h2>Latest Car Log</h2>
	<p>
		PLATE NUMBER: <%= @carlogs.plate_number%>
	</p>
	<p>
		TIME IN: <%= @carlogs.time_in %>
	</p>
	<p>
		TIME OUT: <%= @carlogs.time_out %>
	</p>
	<p>
		COLOR: <%= @carlogs.color %>
	</p>
	<p>
		BRAND: <%= @carlogs.brand %>
	</p>
	<p>
		CREATED AT: <%= @carlogs.created_at %>
	</p>
	<p>
		UPDATED AT: <%= @carlogs.updated_at %>
	</p>

</body>
</html>